*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: rgb(252, 241, 226);
}
#mouse-follower{
    height: 10vh;
    width: 10vh;
    background-color: rgb(20, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    z-index: 99;
    pointer-events: none;
    scale: 0;
    transition: all .15s linear;
}
.container{
    width: 100%;
    padding: 2vh 2.5vw;
}
header{
    height: 6vh;
    width: 100%;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav .left-element{
    width: 6vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
header nav .right-element{
    width: max-content;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
header nav .left-element h5, .right-element h5{
    position: relative;
    cursor: pointer;
    font-weight: 100;
    transition: all .2s linear;
}
header nav .left-element :nth-child(1):after{
    content: "";
    position: absolute;
    width: 100%;
    top: 3vh;
    left: 0;
    border-bottom: 2px solid white;
}
@keyframes anim{
    0%{
        width: 0%;
        scale: 1;
    }
    100%{
        width: 100%;
        scale: 1;
    }
}
@keyframes animRev{
    0%{
        translate: 0%;
        scale: 1;
    }
    100%{
        translate: 100%;
        scale: 1;
    }
}
header nav .left-element :nth-child(2)::after, header nav .right-element :nth-child(1)::after{
    content: "";
    position: absolute;
    width: 100%;
    scale: 0;
    top: 3vh; 
    left: 0;
    border-bottom: 2px solid white;
    animation: animRev .2s forwards ease-in-out;
}
header nav .left-element :nth-child(2):hover:after, header nav .right-element :nth-child(1):hover:after{
    animation: anim .2s forwards ease-in-out;
}
header nav .centre-element h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
    overflow: hidden;
}
.main .main-heading{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: max-content;
    filter: blur(1rem);
    background-color: rgb(0, 0, 0);
    opacity: 0;
}
.main .main-heading h1{
    font-family: 'Times New Roman';
    font-size: 6.5vw;
    line-height: 6.5vw;
    font-weight: 250;
    position: relative;
    transform-origin: 0;
    font-style: italic;
    /* transform :rotate(10deg); */
}
.main .main-heading :nth-child(1)::after{
    width: 200px;
    font-size: 1.9vh;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    position: absolute;
    /* top: 0%; */
    line-height: 2.4vh;
    content: "Rishabh Pandey is Bhartian designer is passionate about designing intuitive experiences that augment human abilities and help businesses succeed";
}
.main .main-heading :nth-child(3)::before{
    font-size: 1.9vh;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    position: relative;
    top: -58%;
    left: -7%;
    line-height: 2.4vh;
    content: "Infused by my Bhartian heritage";
}
.main .main-heading :nth-child(4)::after{
    position: relative;
    top: -50%;
    content: " ____";
}

.main .main-sub-heading{
    width: 100%;
    height: 15vh;
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    opacity: 0;
}
.main .main-sub-heading .left{
    font-size: 7vh;
    width: 15vw;
    height: 100%;
    /* background-color: blue; */
    overflow: hidden;
}
.main .main-sub-heading .left p{
    font-family: 'Times New Roman';
    font-size: 7vh;
    width: 12vh;
    line-height: 7vh;
}
.main .main-sub-heading .center p, .main .main-sub-heading .right p{
    font-size: 2vh;
    font-weight: 200;
}
.page1{
    height: 100vh;
    width: 100%;
    /* background-color: #ff0000; */
    display: flex;
    opacity: 0;
    margin: 25vh 0vh 0vh 0vh;
    justify-content: space-between;
}
.page1 .left-side{
    height: 100vh;
    width: 60vw;
    /* background-color: violet; */
    font-weight: 100;
    gap: 4.5vw;
    display: flex;
    flex-direction: column;
}
.page1 .left-side .left{
    height: 50%;
    width: 100%;
    /* background-color: violet; */
    font-weight: 100;
    gap: 4.5vw;
    display: flex;
}
.page1 .left-side .left h5{
    font-weight: 100;
}
.page1 .left-side .left .about-me-heading{
    width: 40%;
    /* background-color: #ff0000; */
    height: max-content;
}
.page1 .left-side .left .about-me-heading h5{
    font-size: 4.2vw;
    font-family: 'Times New Roman';
    font-weight: 550;
    line-height: 4.4vw;
}
.page1 .left-side .about-me-sub-heading{
    margin-left: 60%;
    width: 40%;
    /* background-color: steelblue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
}

.page1 .right-side{
    height: 80vh;
    width: 25vw;
    /* background-color: rgb(200, 238, 130); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* overflow: hidden; */
    justify-content: center;
    position: relative;
}


.page1 .right-side .img1{
    height: 100%;
    width: 100%;
    background: url(/Images/Character.jpg);
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    z-index: 4;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    transition:clip-path 1.3s;
    /* opacity: .8; */
}
.page1 .right-side .img2{
    /* height: 74vh;
    width: 25vw; */
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(/Images/Character\ 2.jpg);
    background-position: center;
    background-size: cover;
    /* transform: translateY(100%); */
    /* clip-path: polygon(0 0,100% 0,100% 100%,0 100%); */
    /* transition:clip-path 1.3s; */
    /* opacity: 0.8; */
    z-index: 3;
    /* transition:all cubic-bezier(0.215, 0.610, 0.355, 1) .3s; */
}


.caption{
    min-height: 100vh;
    /* background-color: red; */
    width: 100%;
    opacity: 0;
    overflow: hidden;
    /* font-stretch: extra-condensed; */
}
.caption p{
    font-size: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.multiple-pages{
    height: 100vh;
    width: 300%;
    /* background-color: red;s */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10vh 7vw; */
    overflow: scroll;
}
.check{
    height: 80vh;
    /* transform: translateX(-200%); */
    width: 100%;
    /* background-color: blueviolet; */
}
.check-1{
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(255, 0, 0); */
}
.Experties-1{
    height: 100%;
    width: 50%;
    /* background-color: rgb(71, 71, 47); */
    display: flex;
    flex-direction: column;
    padding-top: 14vh;

    /* justify-content: center; */
}
.check .left-box{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}
.Experties-1 .Experties-heading{
    height: 9vh;
    /* width: max-content; */
    display: flex;
    gap: 5vw;
    /* background-color: cadetblue; */
}
.Experties-1 .Experties-heading h1{
    font-size: 8vh;
    font-weight: 300;
    /* line-height: 4vw; */
}
.Experties-desc{
    margin-top: 9vh;
    height: 70%;
    /* width: 50%; */
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
.Experties-desc .desc{
    height: 50%;
    width: 50%;
    /* background-color: teal; */
    /* line-height: 0; */
}
.Experties-desc .desc .heading h3{
    font-size: 1.6vw;
    line-height: 1.6;
}
.Experties-desc .desc .sub-heading{
    margin-top: 2vh;
}
.Experties-desc .desc .sub-heading p{
    font-size: 1vw;
    font-weight: 200;
}
.check-2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(238, 255, 0); */
}
.check-3{
    /* background-color: rgb(0, 149, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-3 .circle{
    height: 13vh;
    width: 6vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffefe;
}
.check h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.check-3 .circle .main-heading h1{
    opacity: 0;
    color: black;
    font-size: 84px;
}

.marquee-style{
    display: flex;
    height: 20vh;
    /* width: 100%; */
    /* word-wrap: none; */
    /* background-color: tomato; */
    align-items: center;
    overflow: hidden;
    gap:1vw
}
.marquee-style h1{
    font-size: 5.5vw;
    white-space: nowrap;
    animation: scroll-left 50s infinite forwards;
}

@keyframes scroll-left{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-450%);
    }
    100%{
        transform: translateX(0%);
    }
}
footer{
    height: 70vh;
    width: 100%;
    /* background-color: thistle; */
    display: flex;
    padding-top: 8vh;
    justify-content: space-around;
}
footer .left{
    height: 100%;
    width: 25%;
}
footer .left h1{
    font-size: 7.4vh;
    /* letter-spacing: .1vh; */
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
footer .right{
    height: 100%;
    width: 35%;
}
footer .right .top{
    height: 50%;
    width: 100%;
}
footer .right .bottom{
    height: 30%;
    width: 100%;    
}
footer .right .bottom .bottom-table{
    margin-bottom: 3vh;
}
footer .right .bottom .bottom-table{
    display: flex;
    /* justify-content: ; */
}
footer .right .bottom .bottom-table-data{
    display: flex;
    width: 30%;
    height: 70%;
    flex-direction: column;
    gap: .7vh;
}
.bottom-contact-me-social{
    height: 10vh;
    width: 100%;
    display: flex;
    gap: 5vh;
}
.bottom-contact-me-social img{
    width: 2.5vw;
    height: 5.3vh;
    cursor: pointer;
}
.projects{
    /* background-color: tomato; */
    flex-direction: column;
    justify-content: flex-start;
}
.title-corner{
    height: 5vh;
    width: 100%;
    /* background-color: violet; */
}
.title-corner p{
    font-size: 2vh;
    font-weight: 200;
}
.project-desc{
    margin-top: 12vh;
    /* background-color: yellowgreen; */
    padding: 0vh 12vw;
    overflow: hidden;
}
.project-title{
    width: 100%;
    /* background-color: turquoise; */
    height: 8vh;
    margin-bottom: 8vh;
}
.project-title h1{
    font-size: 3vw;
}
.all-projects-list{
    display: flex;
    gap: 3vh;
    flex-direction: column;
    /* position: relative; */
}
.rectangle{
    height: 45vh;
    width: 45vh;
    /* background: url(/Images/Character.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    opacity: 0;
    /* z-index: 10; */
    pointer-events: none;
    transition: all .12s linear;
}
.project-list{
    height: 13vh;
    width: 100%;
    /* background-color: slategrey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fffefe6a;
    transition: all 0.3s ease-in-out;
    
}
.project-list:hover{
    cursor: pointer;
    border-bottom: 1px solid #fffefe;
    gap: 1.5vw;
}
